# Kendo UI License Key
# Get your license key from: https://www.telerik.com/account/downloads-my-license-keys
# Format: TELERIK_LICENSE=your-license-key-here
TELERIK_LICENSE=

# For older versions (before 2025 Q1), use:
# KENDO_UI_LICENSE=
